/*add organizational comments*/
/*change respective ids to classes*/
/*consistency with hex values*/
/*use of css modularization-DRY*/
/*refactor pixels to em/rem*/

/*WHOLE PAGE STYLING*/
body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

/*TOP SECTION STYLING*/
.top-box {
    /*use flex to align elements*/
    background-color: #E5F3F2;
    box-sizing: border-box;
    height: 300px;
    margin: 0;
    text-align: center;
}

h1{
    color: #00A79D;
    display: inline-block;
    font-size: 275%;
    margin-bottom:  30px;
}

.title-text-color {
    color: #6D6E71;
}

/*check width of 45% throughout*/
input {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    height: 30px;
    justify-content: space-between;
    margin: 10px auto;
    width: 45%;
}

/*BOTTOM SECTION STYLING*/
.search-input {
    margin-top: 50px;
}

.save-btn {
    background-color: #00A79D;
    border: none;
    color: #FFF;
    /*check font sizes*/
    font-size: 120%;
    height: 30px;
    width: 45.5%;
}

.save-btn:hover {
    background-color: #045E55;
}

.card-container {
    margin: auto;
    padding: 0;
    position: relative;
    width: 45%;
}

.title-of-card{
    color: #6D6E71;
    /*use flex instead of inline-block*/
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 140%;
}

p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

button {
    /*background-color: transparent;*/
    border: none;
}

.upvote,
.downvote,
.upvote:hover,
.downvote:hover,
.delete-button,
.delete-button:hover {
    background-size: cover;
    height: 20px;
    width: 20px;
}

.upvote {
    background-image: url(./images/upvote.svg);
    /*adjust margin with rems*/
    margin-right: 5px;
     /*use space around to replace margin*/
}

.upvote:hover {
    background-color: transparent;
    background-image: url(./images/upvote-hover.svg);
}

.downvote {
    background-image: url(./images/downvote.svg);
    /*adjust margin with rems*/
    margin-right: 5px; 
    /*use space around to replace margin*/
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
}

.delete-button {
    background-image: url(./images/delete.svg);
    /*use flex instead of position absolute*/
    position: absolute;
    right: 10px;
    top: 15px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
}

@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

    .search-input {
        border: solid #999 1px;
    }
}

