
/*WHOLE PAGE STYLING*/
body {
  box-sizing: border-box;
  margin: 0;
}

/*TOP SECTION STYLING*/
.container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  background-color: #E5F3F2;
  box-sizing: border-box;
  height: 350px;
  margin: 0;
  text-align: center;
}

h1{
  color: #00A79D;
  display: inline-block;
  font-size: 275%;
  margin-bottom:  30px;
}

.title-text-color {
  color: #6D6E71;
}

input {
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  height: 30px;
  justify-content: space-between;
  margin: 10px auto;
  width: 45%;
}

/*BOTTOM SECTION STYLING*/
.search-input {
  border: solid #999 1px;
  margin-top: 50px;
}

.save-btn {
  background-color: #00A79D;
  border: none;
  color: #FFF;
  font-size: 120%;
  height: 30px;
  width: 45.25%;
}

.save-btn:hover {
  background-color: #045E55;
}

ul {
  padding: 0px;
}

.card-container {
  border-bottom: solid #999 1px;  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);  
  list-style-type: none;
  margin: 40px auto;
  padding: 0;
  position: relative;
  width: 45%;
}

.upvote,
.downvote,
.upvote:hover,
.downvote:hover,
.delete-button,
.delete-button:hover {
  background-color: transparent;
  background-size: cover;
  height: 25px;
  width: 25px;
}

.card-box-1,
.card-box-2,
.card-box-3 {
  padding-bottom: 10px;
}

.card-box-1,
.card-box-3 {
  align-items: center;
  display: flex;
}

.card-box-1 {
  grid-row: 1/2;
  justify-content: space-between;
}

.title-of-card,
.quality {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
}

.title-of-card{
  font-size: 140%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.delete-button {
  background-image: url(./images/delete.svg);
}

.delete-button:hover {
  background-image: url(./images/delete-hover.svg);
}

.card-box-2 {
  grid-row: 2/3;
}

p,
.quality-variable {
  color: #939598;
  font-family: 'Open Sans', sans-serif;  
}

p {
  font-size: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

button {
  border: none;
}

.card-box-3 {
  grid-row: 3/4;
}

.upvote,
.downvote {
  margin-right: 20px;
}

.upvote {
  background-image: url(./images/upvote.svg);
}

.upvote:hover {
  background-image: url(./images/upvote-hover.svg);
}

.downvote {
  background-image: url(./images/downvote.svg);
}

.downvote:hover {
  background-image: url(./images/downvote-hover.svg);
}

@media(max-width: 1130px) {
  .save-btn {
    width: 45.5%;
  }
}

@media(max-width: 990px){
  .card-container,
  input {
    width: 425px;
  }

  .save-btn {
    width: 429px;
  }
}

@media(max-width: 530px) {
  .card-container,
  input {
    width: 80%;
  }

  .save-btn {
    width: 80.75%;
  }
}

@media(max-width: 320px) {
  .save-btn {
    width: 81.75%;
  }
}

